
@import url('https://fonts.googleapis.com/css?family=El+Messiri');
body{
	overflow: hidden;
	direction: rtl;
	font-family: 'El Messiri', sans-serif;
}
#back{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	margin: auto;

	background: url('/file/snow.jpg') center;
	background-attachment: fixed;
	background-size: cover;
	z-index: -1;
}
#blured{
	width: 90%;
	max-width: 15cm;
	height: 105%;
	position: absolute;
	top: 0cm; left: 0; right: 0;bottom: 0cm;
	margin: auto;

	background: url('/file/snow.jpg') center;
	background-attachment: fixed;
	background-size: cover;
	filter: blur(10px);
}
#main{
	width: 90%;
	max-width: 15cm;
	height: 100%;
	position: fixed;
	top: 0; left: 0; right: 0;bottom: 0;
	margin: auto;

	border:5px solid rgba(255,255,255,.6);
}
.center{
	margin: 17% 12.5% 0 0;
	width: 75%;
	height: 1.5cm;
	color: white;
}
#user{
	width: 70%;
	padding-right: 5%;

}
input{
	font-family: 'El Messiri', sans-serif;
	background: rgba(0, 0, 0,.4);
	border-color: rgba(255,255,255,.7);
	border: 4px solid rgba(255,255,255,.5);
	border-radius: 1cm;
}

::placeholder{
	color: white;
}